h1{
    z-index:3;
    position: absolute;
    left: 50%;
    top: 10px;
    color: rgb(124, 80, 129);
    font-size:50px;
    letter-spacing:40px;
}

.headerthing{
    position: absolute;
    left:37%;
    top:-6px;
    opacity:0.7;
}

.box1{
    background-color: blanchedalmond;
    position:absolute;
    height:100%;
    width:87%;
    top:30px;
    left:0;
    z-index:1;
}

.credits{
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(148, 166, 144);
    width:240px;
    height:380px;
    background-color:rgb(237, 224, 238);
    position:fixed;
    right:35px;
    top:170px;
    z-index:6;
}

.sec1{
    background-color:rgb(230, 236, 231);
    outline-width: 1px;
    outline: solid;
    outline-color: rgb(148, 166, 144);
}

.sec2{
    background-color:rgb(239, 228, 237);
    outline-width: 1px;
    outline: solid;
    outline-color: rgb(148, 166, 144);
}

.cheating{
    width:200px;
    height:150px;
    overflow:hidden;
    background-color:aqua;
}

.credits p{
    font-family: hima, monospace;
    font-size:25px;
    right:10px;
    overflow:scroll;
}

#slides{
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(148, 166, 144);
    width:150px;
    height:400px;
    background-color:rgb(237, 224, 238);
    position:absolute;
    right:35px;
    top:170px;
}

#desk{
    width:150px;
    position:absolute;
    top:-200px;
    right:35px;
}

#tiger{
    width:150px;
    position:absolute;
    bottom:-240px;
    right:10px;
}

img {

    width:270px;
    padding-bottom:10px;
    padding-top:10px;
}

.affirmations {
    z-index:2;
    background-color: rgb(160, 149, 170);
    color:aliceblue;
    width:220px;
    max-width:230px;
    padding-top:5px;
    padding-bottom:5px;
    align-items:flex-end;
    padding-left: 50px;
    overflow: hidden;
    font-family: pixfont, monospace;
    color:rgb(226, 246, 221);
    border-radius: 10px;
    border-style:double;
    border-color:rgb(107, 98, 116);
}

.affirmations img{
    width:50px;
    float:left;
    padding:5px;
    position:absolute;
    left:40px;
}

.firstquad{
    z-index:3;
    position:absolute;
    padding:30px;
    width:300px;
}

.secquad{
    z-index: 3;
    position:absolute;
    left:280px;
    padding:30px;
    width:300px;
}

.thquad{
    z-index: 3;
    position:absolute;
    left:560px;
    padding:30px;
    width:300px;
}

.frthquad{
    z-index:3;
    position:absolute;
    left:840px;
    padding:30px;
    width:300px;
}

.feed{
    z-index:3;
    position:absolute;
    left:-10px;
    top:85px;
}

body {
    background-color:rgb(215, 233, 225);
    background-image:url('lace1.gif');
    background-position: top;
    background-repeat: repeat-x;
}

/*a {
    position:absolute;
    text-decoration: none;
    font-size:30px;
    right:50px;
}*/

.submit{
    text-decoration: none;
    font-size:25px;
    color:rgb(124, 80, 129);
    top:60px;
    position:absolute;
    left:30px;
    letter-spacing: 5px;
}