h1{
    position: absolute;
    left: 40%;
    top: -2.8%;
    color: rgb(163, 117, 167);
}

body{
    background-color: blanchedalmond;
}

img {
    width:270px;
    padding-bottom:15px;
    padding-top:15px;
}

.affirmations {
    background-color: rgb(57, 52, 61);
    color:aliceblue;
    width:225px;
    max-width:225px;
    padding-top:7px;
    padding-bottom:7px;
    align-items:flex-end;
    padding-left: 50px;
    overflow: hidden;
    font-family: pixfont, monospace;
    border-radius: 10px;
}

.affirmations img{
    width:60px;
    float:left;
    padding:2px;
    position:absolute;
    left:45px;
}

.firstquad{
    position:absolute;
    padding:50px;
    width:300px;
}

.secquad{
    position:absolute;
    left:300px;
    padding:50px;
    width:300px;
}

.thquad{
    position:absolute;
    left:600px;
    padding:50px;
    width:300px;
}

.frthquad{
    position:absolute;
    left:900px;
    padding:50px;
    width:300px;
}

.feed{
    position:absolute;
    left:-10px;
}
